@charset "UTF-8";

.divPai {
 margin: auto ;
 max-width: 100%;
 width: 220px;
 height: 235px;
 background-color: rgb(121, 17, 17);
 border: 1px solid #000000;
}

.divPai form{
    margin: auto;
    width: 200px;
}

.divPai form input{
    background-color: rgb(255, 255, 255);

    font-size: 18px;
    text-align: right;
    font-family: 'Jost', sans-serif;
    
    margin: 10px 0;
    width: 198px;
    height: 40px;
}
.divPai  form .btn{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px ;
    grid-row-gap: 5px;
    max-width: 100%;
    width: 200;
    margin: auto;
   
}

.divPai  form .espaco{
grid-column: 1 / span 2;
}

.divPai form button{
    font-size: 15px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);

    background-color: #ffffff;
    box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.25);
}

.divPai form button:hover{
    background-color:#ffffff;
}